@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background-color: #fff;
	font-size: 14px;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	color: #646451;	
}
.clearfix:after {
	content: "";
	display:block;
	clear: both;
}	
.inner {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;		
}

.detail-inner {
	max-width: 1250px;
}


/* HEADER LOGO AND NAVIGATION */
#logo {
	float: left;	
	background-image: url(../images/logo_lg.png);
	background-repeat:no-repeat;
	width: 500px;
	height: 96px;
	margin-top: 3em;
}
nav {
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	float: right;
	margin-top: 5.15em;	
}
nav a {
	text-decoration: none;
	color: #646451;
	display: inline-block;
	padding: 1.33em 1.75em;
	transition:all ease .5s;	
}
nav a:hover {
	color: #c8caa2;	
}


/* INTRO TEXT AND WELCOME PHOTO */
#welcome {
	clear: both;
	overflow:hidden;
	position: relative;	
}
#intro_txt {
	width: 75%;
	float: left;
	padding: 0;
	margin: 4em 0 0 0;
	z-index: 11;
	position: relative;
}
#intro_txt p {
	color: #fff;
	padding: 6em 0 2em 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.6em;
	font-weight: 100;
	letter-spacing: .06em;
}
#intro_txt p strong {
	font-weight: 500;	
}
#intro_inline_bkgd  {
	margin-top: .66em;
	padding: 0; 
	position: absolute;
	background-image: url(../images/dots_pink.jpg);
	width: 100vw;
}
.welcome_background {
	position: absolute;
	top: 10em;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f379a8;
	z-index: 6;

}
#intro_inline_bkgd:before {
	content:"";
	position:absolute;
	top:0;
	left:-100vw;
	width:100vw;
	height:100%;
	background-image:inherit;
}

/* PORTFOLIO THUMBNAILS */
#portfolio_fullwidth_section  {
	position: relative;
	width: 100%;
}
.portfolio_background {
	position: absolute;
	top: 1.33em;
	left: 0;
	width: 100%;
	height: 40%;
	background-image:url(../images/flowers_black.jpg);
}
#portfolio_intro {
	padding-top: 60px;	

}
.title h2{
	float: left;
	margin-bottom: .5em;
	padding-left: 1.75em;
	position: relative;	
	color: #ffffff;
	letter-spacing:.05em;

}
#portfolio_thumbs {
	clear: both;
	padding-left: 3.5em;
	padding-right: 4.33em;

}
.thumb {
	display: block;
	width: 100%;
	border: #FFFFFF medium solid;
}
.thumb_inner {
	position: relative;
}
.portfolio_thumb {
	float: left;
	width: 33.33%;
	padding: 1em;
	position: relative;
}
.current_portfolio_img {
	float: right;
	width: 60%;
	padding: 3em 6.33em 3em 5em;
	position: relative;
	z-index: 6;
}


/* PORTFOLIO HOVERS */
.thumb_inner:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.7);
	opacity: 0;
	transition:all ease .5s;	
	
}
.portfolio_thumb:hover .thumb_inner:before {
	opacity: 1;
	border: #FFFFFF medium solid;	
}
.current_portfolio_img:hover .thumb_inner:before {
	opacity: 1;
	border: #FFFFFF medium solid;
}


/* 50/50 BIO AND PICTURE */
#bio {
	clear: both;	
	margin-top:4.33em;
}
#bio_txt{
	background-image: url(../images/dimension_green.jpg);
	width: 50%;
	float: left;
	padding: 3em 3.33em 2em 5.1em;
	height: 60em;
	border-right: thick #FFFFFF;
	margin-bottom: 4.66em;	
}
#bio_img{
	width: 50%;
	float: right;
	padding-left: .66em;
	background-image: url(../images/pic_of_me.jpg);
	background-repeat: no-repeat;
	height: 60em;
	background-size: cover;
	background-position: center top;
	margin-bottom: 4.66em;	
}
#bio_social {
	float: left;
}


/* FOOTER */
#footer_container {
	background-image: url(../images/flowers_black.jpg);
	clear: both;
	padding: 1.33em;
	height: 5.66em;
}
.footer_text p { 
  width: 33.33%;
  float: left;
  color: #fff;
  font-size: 1em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  padding: .66em 0 .66em 1.6em;
  margin-right: 6.66em; 
}


/**** SOCIAL ICONS AND HOVERS ****/
.socialbio {
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	float: left;

}
.socialbio li  {
	display:inline-block;
}
.socialbio li a {
	width: 2.25em;
	height: 2.2em;
	color:#fff;
	font-size:1.3em;
	text-align:center;
	padding: .33em .33em .33em .33em;
	display:inline-block;
	background-color:#ff79a8;
	border-radius:50%;
	margin:0 .5em;
	transition:all ease .5s;
}
.socialbio li a:hover  {
	background-color:#fba5bc;
}
.socialicons {
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	width: 33.33%;
	float: left;
}
.socialicons li  {
	display:inline-block;
}
.socialicons li a {
	width: 2.25em;
	height: 2.2em;
	color:#fff;
	font-size:1.3em;
	text-align:center;
	padding: .33em .33em .33em .33em;
	display:inline-block;
	background-color:#ff79a8;
	border-radius:50%;
	margin:0 .5em;
	transition:all ease .5s;
}
.socialicons li a:hover  {
	background-color:#fba5bc;
}

/* WORK PAGE */
.index {
	display: block;
	width: 100%;
	border: #FFFFFF medium solid;
}
.additional_portfolio_background {
	position: absolute;
	top: 2.5em;
	left: 0;
	width: 100%;
	height: 55%;
	background-image:url(../images/flowers_black.jpg);
}
#current_portfolio {
	position: relative;	
	width: 100%;
}
.current_portfolio_background {
	position: absolute;
	top: 1.33em;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/dimension_green.jpg);
	z-index: 6;
}
#portfolio_button {
	float: left;
	margin-top: 0;	
}
#current_portfolio_txt {
	width: 40%;
	float: left;
	padding: 3em 0 0 4.33em;
	margin: 0;
	z-index: 11;
	position: relative;
}

/* DETAIL PAGE */
.parent-container {
  display: flex;
  border: 1px solid rgba(0,0,0,0);
}
#detail_txt {
	padding: 0 3.33em 2em 0em;
	flex:.3;
}
#detail_img {
	padding: 0;
	flex:.7;
}
#detail_page {
	clear: both;	
	position: relative;
	width: 100%;
}
#advance_arrows {
	clear: both;
	position: relative;
	width: 100%;
	float: right;
	margin: -2em 0 2em 0;
}
.detail_img_btm {
	margin-bottom: 30px;
	display: block;
	width: 100%;
}
#detail_txt h2 {
	margin-bottom: .5em;
}

/* BUTTONS */

#footer_button {
	float: right;
	margin-top: 0;
	margin-left: 1em;	
}
#work_button {
	float: right;
	margin-bottom: 1em;
	padding-right: 3.25em;	
	position: relative;
}
.portfolio_thumb:hover #detail_button {
	opacity: 1;
}
.current_portfolio_img:hover #detail_button {
	opacity: 1;
}
#livesite_button {
	float: left;
	margin: 0 0 3em 0;	
}
#detail_button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-mos-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	opacity: 0;

}
#detail_button.white_button a {
	margin: 0;	
}
#resume_button {
	float: right;
	margin-top: 0;	
}
#behance_button {
	margin: 2em 0 5em 0;
	float: none;
	text-align: center;
}
#blog_button {
	float: right;
	margin-top: 0;	
}
.button a {
	display: inline-block;
	font-size: 1.25em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	color: #646451;
	text-decoration: none;
	background-color: transparent;
	border-color: #646451;
	border-style: solid;
	border-width: .13em;
	padding: .6em;
	transition:all ease .5s;
		
}
.button a:hover {
	color: #646451;
	text-decoration: none;
	background-color: #c8caa2;
}
.white_button a {
	display: inline-block;
	font-size: 1.25em;
	letter-spacing: .02em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	background-color:  transparent;
	border-color: #ffffff;
	border-style: solid;
	border-width: .13em;
	padding: .6em;	
	margin: 0 1.6em 0 0;	
	transition:all ease .5s;	


}
.white_button a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #646451;
}


/* DEFAULT TYPE STYLES */
h1 {
	color: #646451;
	font-size: 3.5em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;	
}	
h1 strong, h2 strong, h3 strong {
	font-weight: 700;	
}
h2 {
	color: #646451;
	font-size: 2.5em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;	
}
h3 {
	color: #646451;
	font-size: 1.5em;
	line-height: 3.0em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}
h4 {
	color: #646451;
	font-size: 1.25em;
	line-height: 2.0em;
	margin-bottom: 1em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}
h5 {
	color: #CBCBBF;
	font-size: 1.25em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	text-align:right;
}
h5 a {
	text-decoration: none;
	color: #FF77A8;
	transition:all ease .5s;	
}
h5 a:hover {
	color: #FBD7E3;
}
p {
	color: #646451;
	font-size: 1em;
	line-height: 1.9em;
	padding-bottom: 2.6em;
}
ul {
	padding: 1.3em 0 1.6em 1.3em;	
}
li {
	font-size: 1.05em;
	line-height: 2em;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	color: #646451;	
}


/* HOMEPAGE QUOTE */
blockquote {
	color: #646451;
	font-size: 1.1em;
	line-height: 1.8em;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	font-style: italic;
	padding: 0 0 2.5em 3.25em;
}
.quote_author {
	font-weight: 400;
	padding: .6em 0 0 3em;
}
.quote {
    width: 100%;
    overflow: hidden;
}
.quote img {
    float: left;
}

@media only screen and (max-width: 1360px)  {
#bio_txt {
	padding: 3em 2em 2em 3em;
	height: 68em;
}
#bio_img{
	height: 68em;
}
#portfolio_thumbs {
	clear: both;
	padding-left: 3.5em;
	padding-right: 4.33em;
}
#footer_container {
	padding: 1em 0 .1em 0;
}
#footer_button {
	margin-left: 0;
}
.footer_text p { 
  margin-right: 0; 
}
.current_portfolio_img {
	width: 60%;
	float: right;
	padding: 3em 6.33em 3em 1em;
	z-index: 8;
	position: relative;
}
#current_portfolio_txt {
	width: 40%;
	float: left;
	padding: 3em 1.5em 0 4.33em;
	margin: 0;
	z-index: 11;
	position: relative;
}
#advance_arrows {
	margin: -2em 0 2em 0;
}
.detail-inner {
	max-width: 1250px;
	padding-left: 4em;
	padding-right: 4em;
}
}


@media only screen and (max-width: 1175px) {
nav a {
	padding: 1.33em 1em;
}
#current_portfolio_img {
	padding: 3em 4.33em 3em 0;
}
#current_portfolio_txt {
	padding: 3em 1.5em 0 4.33em;
}
#detail_txt {
	flex: .4;
	padding: 0 3.33em 2em 0;
}
#detail_img {
	flex: .6;
}
}

@media only screen and (max-width: 1120px) {
.current_portfolio_img {
	width: 60%;
	float: right;
	padding: 3em 6.33em 3em 1em;
	z-index: 8;
	position: relative;
}
#current_portfolio_txt {
	width: 40%;
	float: left;
	padding: 3em 1.5em 0 4.33em;
	margin: 0;
	z-index: 11;
	position: relative;
}
}


@media only screen and (max-width: 1010px) {
#intro_txt {
	padding: 0;
}
.title h2{
	padding-left: .65em;
}
#portfolio_thumbs {
	clear: both;
	padding-left: 1em;
	padding-right: 1em;
}
#bio_txt {
	width: 100%;
	float: none;
	padding: 3em 2em 1em 3em;
	margin-bottom: 0;
	height: auto;
}
#bio_img{
	width: 100%;
	float: none;
	margin-bottom: 2em;
}
.socialbio {
	padding:0;
}
#resume_button {
	padding-right: 3em;
	float: right;
}
#footer_container {
	min-height: 14em;
	padding: 1em;
	text-align: center;
}
.footer_text p { 
 	width: 100%;
  	float: none;
	padding-right: 0;
}
#footer_button {
	float: none;	
}
#footer_button.white_button a {
	margin: 1em .5em;		
}
#footer_button.white_button a:nth-child(1) {
    padding: .6em .8em ;	

}
.socialicons {
	float: none;
	text-align: center;
	width: 100%;
	margin: .25em auto;
}
.detail-inner {
	max-width: 1250px;
	padding-left: 2em;
	padding-right: 2em;
}
}

@media only screen and (max-width: 995px) {
body {
	font-size: 14px;
}
#logo_mobile {
	margin: 1em 1.5em .5em 1.25em;	
	background-image: url(../images/dots_pink_50.png);
	background-repeat: repeat-x;
	background-position:bottom;
}
#logo {
	float: none;	
	background-image: url(../images/logo.png);
	background-repeat:no-repeat;
	width: 100%;
	height: 122px;
	background-position: center top; 	
	margin: 2em 0 .5em 0;
}
nav {
	float: none;
	padding: .5em 0 .5em 0;
	font-size: 1.25em;
	margin-top: 1em;
}
nav img {
	display: none;
}
nav a {
	text-decoration: none;
	text-align: center;
	color: #646451;
	display: block;
	padding: .75em 1em;	
	border-bottom: #ffffff solid thin;
	background-color: #efefed;
	margin: auto 1em;	
}
nav a:hover {
	color: #c8caa2;	
	transition:all ease .5s;
}
#intro_txt {
	padding: 0 3em 0 0;
}
#work_button {
	padding-right: .5em;	
}
.title h2{
	padding-left: .85em;
}
#portfolio_thumbs {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.portfolio_thumb {
	float: left;
	width: 50%;
	padding: 1em;
	position: relative;
}
.current_portfolio_img {
	width: 100%;
	float: none;
	padding: 0 1.5em;
	z-index: 8;
	position: relative;
}
#current_portfolio_txt {
	width: 100%;
	float: none;
	padding: 3em 1.5em 0 1.5em;
}
#portfolio_button {
	display: none;
}

#detail_txt {
	padding: 0 3.33em 2em 0;
	flex:.4;
}
#intro_inline_bkgd h3 {
	line-height: 1.5em;
	padding: .5em 5em .5em 0;
}

}

@media only screen and (max-width: 750px) {
.parent-container{
    flex-direction:column-reverse;
}
.detail-inner {
	max-width: 1250px;
	padding-left: 1em;
	padding-right: 1em;
}
#detail_txt {
	flex: 1;
	padding: 0 3em 1em 1em;
}
#detail_img {
	flex: 1;
	padding: 1em .5em 0 .5em;
}
#resume_button {
	padding-right: 1em;
	float: right;
}
#intro_txt {
	width: 100%;
	float: none;
	padding: 0 1em 0 1em;
}
#bio_txt {
	padding: 3em 3em 1em 3.25em;
}
#bio_img{
	height: 50em;	
}
.portfolio_thumb {
	float: none;
	width: 100%;
	padding: 1em .5em;
}
.title h2{
	float: none;
	margin-bottom: .5em;
}
#work_button {
	float: none;	
	padding-left: 2em;
}
#advance_arrows {
	margin: .25em 0 2em 0;
}
#advance_arrows h5 {
	text-align:center;
}

}

@media only screen and (max-width: 450px) {
#intro_txt p {
	padding: 6.5em 0 2em 0;
}
}
